.header{
    display: flex;
    padding: 10px;
    box-shadow: $boxShadow;
}

.logo{
    width: 50px;

    img{
        width: 100%;
        display: block;
    }
}

.search{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.281);
    border-radius: 30px;
    padding: 0 10px;
    border: 1px solid #FFF;

    input{
        border: 0;
        width: calc(100% - 40px);
        background: transparent;
        font-weight: 300;
    }

    button{
        width: 40px;
        text-align: center;
        border: 0;
        background: 0;
        cursor: pointer;
    }
}

.nav-menu{
    display: flex;
    align-items: center;
    margin: 0 20px;

    a{
        color: $fontColor;
        font-weight: bold;
        font-size: 0.85em;
        line-height: 1;
        margin: 0 10px;
    }
}

.right-profile{
    display: flex;
    align-items: center;
    margin-left: auto;

    .avatar-name{
        p{
            line-height: 1;
            margin: 0;
            font-weight: bold;
            margin-right: 10px;
            font-size: 0.85em;
        }
    }

    .avatar{
        height: 35px;
        width: 35px;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid $green;
    
        .white-border{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 1px solid #FFF;
            background: rgb(238, 238, 238);
            overflow: hidden;
        }
    
        img{
            height: 100%;
            width: auto;
            display: block;
        }
    }
}