@keyframes pulsate-loading{
    0%{
        background: #ececec;
    }

    50%{
        background: #dadada;
    }

    100%{
        background: #ececec;
    }
}

@keyframes superfast{
    0%{
        left: -75px;
    }

    100%{
        left: 100%;
    }
}